.hl-ml-signup-teacher {
  @include responsive(retina-5k) {
    padding: 48px 360px;
    min-height: 100vh;

    .header {
      .title {
        margin-bottom: 16px;
        text-align: center;
        text-transform: uppercase;

        @include text(var(--primary), 24px, var(--font-family-semibold));
      }
    }

    .form {
      .area {
        .heading {
          margin-bottom: 16px;
          @include text(var(--black-dark-2), 18px, var(--font-family-semibold));
        }

        &.button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }

  @include responsive(md) {
    padding: 24px;
  }

  @include responsive(sm) {
    padding: 16px;

    .header {
      .title {
        font-size: 18px;
      }
    }
  }
}
