.hl-ml-home {
  width: 100%;
  height: 100%;

  .area-first {
    width: 100%;
    height: 600px;

    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
      padding-top: 48px;
      margin-bottom: 24px;

      div {
        margin-bottom: 24px;
        text-align: center;
        text-transform: uppercase;

        @include text(var(--black-dark-2), 30px, var(--font-family-bold));
      }

      span {
        @include text(var(--black-dark-2), 28px, var(--font-family-main));
      }
    }

    .ant-btn {
      height: 48px;
      @include text(var(--white), 20px, var(--font-family-main));
    }
  }

  .area-second {
    &--item {
      width: 100%;
      height: 600px;

      display: flex;
      align-items: center;
      padding: 20px 56px;

      &.even {
        flex-direction: row-reverse;

        .left {
          .title {
            width: 100%;
            text-align: right;
          }

          .desc {
            text-align: right;
          }
        }
      }

      .left {
        width: 50%;
        height: 100%;

        padding: 24px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .title {
          width: 100%;
          margin-bottom: 24px;

          @include text(var(--primary), 32px, var(--font-family-bold));
        }

        .desc {
          @include text(var(--black-dark-2), 18px, var(--font-family-main));
          line-height: 1.5;
        }
      }

      .right {
        width: 50%;
      }
    }
  }

  .area-third {
    width: 100%;
    height: 100%;

    padding: 24px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .container {
      width: 640px;
      height: 100%;

      .title {
        text-align: center;
        margin-bottom: 16px;
        text-transform: uppercase;

        @include text(var(--primary), 24px, var(--font-family-bold));
      }

      .btn-form {
        .ant-form-item-control-input-content {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
