.hl-ml-new-password {
  @include responsive(retina-5k) {
    width: 100%;
    min-height: 65vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
      width: 480px;
      padding: 48px;

      border-radius: 8px;
      box-shadow: 1px 1px 6px 0.5px rgba(0, 0, 0, 0.24);

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 24px;

        @include text(var(--primary), 20px, var(--font-family-bold));

        svg {
          @include text(var(--white), 36px, var(--font-family-bold));

          padding: 4px;
          border-radius: 50%;
          border: 1px solid var(--primary);
          background: var(--primary);
          margin-top: 16px;
        }
      }

      .back-to-signin {
        a {
          display: flex;
          align-items: center;

          span {
            margin-left: 4px;
          }
        }
      }
    }
  }

  @include responsive(sm) {
    .container {
      width: 300px;
      padding: 16px;
    }
  }
}
