:root {
  --primary: #4ecaae;

  --gossamer-color: #068b85;
  --blue-chill-color: #0eaaa6;
  --sea-green-color: #32a356;
  --sea-green-color-2: rgba(50, 163, 86, 0.12);
  --deep-sea-green-color: #0c645b;
  --flamenco-color: #ff820e;
  --flamenco--color-2: rgba(255, 130, 14, 0.12);
  --white: #ffffff;
  --silver: #ced1d8;
  --vista-blue: #98d1aa;
  --black: rgba(0, 0, 0, 0.7);
  --flamenco: #ff820e;
  --Sunset-Orange: #ff4d3e;
  --Sunset-Orange-2: rgba(255, 77, 62, 0.12);
  --golden-tainoi: #fece63;
  --black-dark: rgba(0, 0, 0, 0.9);
  --black-dark-1: rgba(0, 0, 0, 0.25);
  --black-dark-2: rgba(0, 0, 0, 0.5);
  --black-dark-3: rgba(0, 0, 0, 0.7);
  --black-light: rgba(0, 0, 0, 0.12);
  --narvik: #effaf2;
  --salomie: #ffde96;
  --boulder: #747474;
  --black-premium: #000000;
  --viridian-green: #699576;
  --gallery: #eeeeee;
  --alto-color: #dfdfdf;
  --dusty-gray-color: #999999;
  --fern-color: #5cb85c;
  --silver-chalice-color: #adadad;
  --emperor-color: #555555;
  --tulip-tree-color: #eab134;
  --cinnabar-color: #ea3d36;
  --mantis-color: #8cc051;
  --hopbush-color: #d870ad;
  --medium-purple-color: #967bdc;
  --casablanca-color: #f6bb43;
}
