/* 
  Margin + Padding 
  Unit : Pixel
*/
$sizeMPs: 160, 120, 112, 96, 92, 80, 72, 68, 64, 57, 56, 50, 48, 40, 36, 32, 28,
  24, 21, 20, 18, 16, 12, 11, 10, 9, 8, 6, 7, 5, 4, 3, 2, 0;

.p {
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &-#{$sizeMP} {
      padding: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &y-#{$sizeMP} {
      padding-top: $val;
      padding-bottom: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &x-#{$sizeMP} {
      padding-left: $val;
      padding-right: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &t-#{$sizeMP} {
      padding-top: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &b-#{$sizeMP} {
      padding-bottom: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &r-#{$sizeMP} {
      padding-right: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &l-#{$sizeMP} {
      padding-left: $val;
    }
  }
  &b-0 {
    padding-bottom: 0;
  }
  &t-0 {
    padding-top: 0;
  }
  &l-0 {
    padding-left: 0;
  }
  &r-0 {
    padding-right: 0;
  }
}

.m {
  &-0 {
    margin: 0;
  }
  &-auto {
    margin: 0 auto;
  }
  &l-auto {
    margin-left: auto;
  }
  &r-auto {
    margin-right: auto;
  }
  @each $sizeMP in $sizeMPs {
    // $val: calc-to-rem($sizeMP);
    $val: calc-rem($sizeMP);
    &-#{$sizeMP} {
      margin: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &-i-#{$sizeMP} {
      margin: -$val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &y-#{$sizeMP} {
      margin-top: $val;
      margin-bottom: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &y-i-#{$sizeMP} {
      margin-top: -$val;
      margin-bottom: -$val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &x-#{$sizeMP} {
      margin-left: $val;
      margin-right: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &x-i-#{$sizeMP} {
      margin-left: -$val;
      margin-right: -$val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &t-#{$sizeMP} {
      margin-top: $val !important;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &t-i-#{$sizeMP} {
      margin-top: -$val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &b-#{$sizeMP} {
      margin-bottom: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &b-i-#{$sizeMP} {
      margin-bottom: -$val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &r-#{$sizeMP} {
      margin-right: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &r-i-#{$sizeMP} {
      margin-right: -$val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &l-#{$sizeMP} {
      margin-left: $val;
    }
  }
  @each $sizeMP in $sizeMPs {
    $val: calc-to-rem($sizeMP);
    &l-i-#{$sizeMP} {
      margin-left: -$val;
    }
  }
  &b-0 {
    margin-bottom: 0;
  }
  &t-0 {
    margin-top: 0;
  }
  &l {
    margin-left: 0;
  }
  &r-0 {
    margin-right: 0;
  }
}

/* 
  Width
  Unit : % || absolute
*/

$percentSteps: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 73, 75,
  80, 85, 90, 95, 100;

$absValScreen: 0, 16, 18, 80, 120, 112, 200, 240, 300, 360, 400, 466, 600, 640,
  800, 880, 960, 1040, 1120, 1200, 1280, 1360, 1440, 1520, 1600;

.w {
  &-auto {
    width: auto;
  }

  @each $step in $percentSteps {
    &-#{$step} {
      flex: 0 0 #{$step + '%'};
      width: #{$step + '%'};
      max-width: #{$step + '%'};
    }
    &-max-#{$step} {
      max-width: #{$step + '%'};
    }
    &-min-#{$step} {
      min-width: #{$step + '%'};
    }
  }
}

.h {
  &-auto {
    height: auto;
  }

  @each $step in $percentSteps {
    &-#{$step} {
      flex: 0 0 #{$step + '%'};
      height: #{$step + '%'};
      max-height: #{$step + '%'};
    }
    &-max-#{$step} {
      max-height: #{$step + '%'};
    }
    &-min-#{$step} {
      min-height: #{$step + '%'};
    }
  }
}

.w-abs {
  @each $absValWidth in $absValScreen {
    $val: calc-to-rem($absValWidth);
    &-max-#{$absValWidth} {
      max-width: $val;
    }
  }
  @each $absValWidth in $absValScreen {
    $val: calc-to-rem($absValWidth);
    &-min-#{$absValWidth} {
      min-width: $val;
    }
  }
  @each $absValWidth in $absValScreen {
    $val: calc-to-rem($absValWidth);
    &-#{$absValWidth} {
      max-width: 100%;
      width: $val;
    }
  }
}

.h-abs {
  @each $absValHeight in $absValScreen {
    $val: calc-to-rem($absValHeight);
    &-max-#{$absValHeight} {
      max-height: $val;
    }
  }
  @each $absValHeight in $absValScreen {
    $val: calc-to-rem($absValHeight);
    &-min-#{$absValHeight} {
      min-height: $val;
    }
  }
  @each $absValHeight in $absValScreen {
    $val: calc-to-rem($absValHeight);
    &-#{$absValHeight} {
      max-height: 100%;
      height: $val;
    }
  }
}

.hide {
  display: none;
}

.hiden {
  visibility: hidden;
}

$zVals: 1, 3000, 9000;

.z {
  @each $zVal in $zVals {
    &-#{$zVal} {
      z-index: $zVal;
    }
  }
}

.blurring {
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                              supported by Chrome, Edge, Opera and Firefox */
}

// Responsive
// Example: @include responsive(sm) {
//   font-size: 14px;
// }

@mixin responsive($canvas) {
  @if $canvas == xs {
    @media only screen and (max-width: 320px) {
      @content;
    }
  } @else if $canvas == sm {
    @media only screen and (max-width: 576px) {
      @content;
    }
  } @else if $canvas == md {
    @media only screen and (max-width: 992px) {
      @content;
    }
  } @else if $canvas == lg {
    @media only screen and (max-width: 992px) {
      @content;
    }
  } @else if $canvas == xl {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  } @else if $canvas == xxl {
    @media only screen and (max-width: 2160px) {
      @content;
    }
  } @else if $canvas == retina-5k {
    @media only screen and (max-width: 5120px) {
      @content;
    }
  }
}
