@import './CardInformation/CardInformation.scss';

.hl-ml-teachers {
  @include responsive(retina-5k) {
    min-height: 100vh;
    padding: 48px 180px;

    .header {
      margin-bottom: 24px;

      .title {
        margin-bottom: 16px;

        display: flex;
        align-items: center;

        @include text(var(--primary), 20px, var(--font-family-semibold));

        span {
          margin-right: 8px;
        }

        svg {
          cursor: pointer;
        }
      }

      .options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;

        .ant-select {
          width: 100%;
        }
      }
    }

    .container {
      .hl-ml-card-information {
        margin-bottom: 16px;
      }
    }
  }

  @include responsive(md) {
    padding: 32px;
  }

  @include responsive(sm) {
    .header {
      .options {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
